/* Sayfanın genel font ve arka plan ayarı */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

/* Form tasarımı */
form {
  background: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(221, 221, 221, 0.1);
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Buton tasarımı */
button {
  background-color: #00ffbf;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
}

button:hover {
  background-color: #0f9c90;
}

/* Tablo tasarımı */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: rgb(252, 249, 249);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(233, 231, 231, 0.384);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #249199;
}

th {
  background-color: #00ffdd;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Satıra tıklanınca sarı renk vurgulama */
.highlight {
  background-color: rgb(255, 81, 0) !important;
}

/* Input Focus */
input:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgb(0, 204, 255);
}
